<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<style>
    .carousel-item> img{height: 400px;}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../Static/Images/my.jpg" class="rounded-circle" height="100px"  alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Restaurants</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Orders</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Get the app</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Log-in</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
<!-- CAROUSEL -->
      <div class="container mt-3"> 
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../Static/Images/Mandi rice.webp" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <img src="../Static/Images/beef mandhi quarter.webp" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <img src="../Static/Images/Mutton mandhi.webp" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>
        </div>
      </div>
<!-- CARDS -->
      <div class="row mt-3"> 
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 100%;">
                <img src="../Static/Images/beef mandhi quarter.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lulu Hyper Market</h5>
                  <p class="card-text">Arabic, Chinese, Indian</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Beef Mandhi</li>
                  <li class="list-group-item">Rating: 4.3</li>
                  <li class="list-group-item">Cost for two = 450</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Add to cart</a>
                  <a href="#" class="card-link">Reviews</a>
                </div>
                <!-- Accordion 1 -->
              </div>
        </div>
        <!-- Card2 -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 100%;">
                <img src="../Static/Images/Beef mandhi.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel Sree Aryas</h5>
                  <p class="card-text">South Indian</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Masala Dosa</li>
                  <li class="list-group-item">Rating: 4.5</li>
                  <li class="list-group-item">Cost for two = 100</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Add to cart</a>
                  <a href="#" class="card-link">Instant deliver</a>
                </div>
              </div>
        </div>
        <!-- Card 3 -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card" style="width: 100%;">
                <img src="..//Static/Images/Beef mandhi.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel Thaal</h5>
                  <p class="card-text">South Indian and Chinese</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Mutton Mandhi</li>
                  <li class="list-group-item">Reviews: 4.4</li>
                  <li class="list-group-item">Cost for two = 500</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
      </div> 
      
</body>
</html>